doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  
  title Document
  link(rel='stylesheet' href='style.css')
  style
      include ./style1.css

main.main-top
  section
    nav
      .deliver
        | Deliver success now with Salesforce Customer 360
      p.para1
        a(href='')  See how 
        |  our suite of products and services helps
        |                     98% of customers meet or exceed their ROI goals.
    .button.freetrial
      button.btntrial start my free trial
      button.watch Watch demos
    div
      img.img98(src='https://wp.salesforce.com/en-us/wp-content/uploads/sites/4/2022/11/homepage-success-now-fg.png?w=1024' alt='' srcset='')
main.salesforcesProducts
  section
    .sph Learn what Salesforce products can do for you.
    span.smallBusiness
      img.imgb(src='https://www.salesforce.com/content/dam/web/en_us/www/images/home/php-products-4.png' alt='' srcset='')
    span.smallBusiness
      img.imgb(src='https://www.salesforce.com/content/dam/web/en_us/www/images/home/php-products-4.png' alt='' srcset='')
    span.smallBusiness
      img.imgb(src='https://www.salesforce.com/content/dam/web/en_us/www/images/home/php-products-4.png' alt='' srcset='')
    span.smallBusiness
      img.imgb(src='https://www.salesforce.com/content/dam/web/en_us/www/images/home/php-products-4.png' alt='' srcset='')
    span.textbelow
      h3 small business
    span.textbelow
      h3 small business
    span.textbelow
      h3 small business
    span.textbelow
      h3 small business
